[Unit]
Description=DI-Alert-Agent v3.1 by Erick Rodriguez
After=networking.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/etc/DI-Alert-Suite/DI-Alert-Agent/DI_Alert_Agent.py
User=di_alert
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target